


.container{
    background-color: white; 
    padding: 25px; 
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
  }

  @media (max-width: 576px) {
    .container{
      padding: 12px !important;
    }
    .form-label, .form-control{
      margin-bottom: 10px;
    }

    .form-label{
      font-size: 16px;
    }
    
    .btn-primary{
      width: 100%;
    }
  }
  